{% if ansible_host in groups['kibana'] %}
- module: kibana
  enabled: true
  xpack.enabled: true
  period: 10s
  hosts: ["http://localhost:5601"]
  username: remote_monitoring_user
  password: "{{ account_password.remote_monitoring_user }}"
  ssl.enabled: false
  #ssl.certificate_authorities: "{{ ca_cert_path }}"
  #ssl.verification_mode: "certificate"
{% endif %}