#cloud-config

hostname: {{ current_vm_name }}
fqdn: {{ current_vm_name }}
manage_etc_hosts: true

ssh_pwauth: true
disable_root: false
users:
  - default
  - name: {{ vms.default_user }}
    shell: /bin/bash
    groups: users,admin,wheel,lxd
    sudo: ALL=(ALL) NOPASSWD:ALL
    lock_passwd: false
    ssh-authorized-keys:
      - {{ ssh_key_pub.stdout }}

chpasswd:
  list: |
    root:{{ vms.root_pass }}
    ubuntu:{{ vms.default_pass }}
  expire: false

# package_update: true
# package_upgrade: true
# packages:
#   - qemu-guest-agent
final_message: "The system is finally up, after $UPTIME seconds"